.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #4357692d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    font-family: 'Neon Lights', sans-serif;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000;
    color:  #00FF41;
    font-weight: bold;
    box-sizing: border-box;
  }